@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', monospace;
    box-sizing: border-box;
}


html,
body {
    background: black;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    position: relative;
}

body::after {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(to bottom,
            rgba(255, 255, 255, 0.02) 0,
            rgba(255, 255, 255, 0.02) 2px,
            rgba(0, 0, 0, 0) 2px,
            rgba(0, 0, 0, 0) 4px);
    opacity: 0.1;
    mix-blend-mode: multiply;
    z-index: 9999;
}

.container {
    position: relative;
    top: 30px;
    left: 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: black;
    animation: flicker 3s infinite;
}

@keyframes flicker {

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        opacity: 1;
    }

    20%,
    22%,
    55% {
        opacity: 0.9;
    }
}

#text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-right: 20px;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.line {
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;
    color: #39FF14;
    font-size: 14px;
    line-height: 1;
    text-shadow:
        0 0 1px #39FF14,
        0 0 2.5px #39FF14,
        0 0 4px #39FF14;
    border-right: 1px solid #39FF14;
    animation: typing 3.5s steps(30) forwards, blink 0.8s step-end infinite alternate;
    animation-fill-mode: forwards;
}

.line.typing-complete {
    border-right: none;
}

@media only screen and (max-width: 600px) {
    .container {
        top: 10px;
        left: 10px;
    }

    .line {
        font-size: 18px;
    }
}

@media only screen and (max-width: 400px) {
    .line {
        font-size: 16px;
    }
}